@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin tittle-h2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

@mixin description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@mixin green-button {
  color: rgb(255, 255, 255);
  background-color: $green;

  &:hover,
  &:focus {
    background-color: rgb(94, 170, 47);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin grey-button {
  color: rgb(68, 68, 68);
  background-color: rgb(242, 242, 242);

  &:hover,
  &:focus {
    background-color: rgb(235, 235, 235);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
