.additional-catalog {
  width: 280px;
  margin: 0 auto;
}

.additional-catalog__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 34px;
  color: rgb(17, 17, 17);
  border-bottom: 1px solid rgb(205, 205, 205);
}

.additional-catalog__list {
  @include clear-list;
  margin-bottom: 39px;
}

.additional-catalog__item {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.additional-catalog__item-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 2px;
  margin-bottom: 10px;
  color: rgb(34, 34, 34);
}

.additional-catalog__table {
  margin-bottom: 12px;
}

.additional-catalog__amount,
.additional-catalog__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  width: 140px;
  color: rgb(68, 68, 68);
}

.additional-catalog__price {
  text-align: right;
}

.additional-catalog__button {
  display: inline-block;
  vertical-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 17px;

  @include green-button;
}

.additional-catalog__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 289px;
  margin-bottom: 35px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.additional-catalog__gift-image {
  width: 55px;
  height: 60px;
  margin-top: 65px;
  margin-bottom: 45px;
  fill: rgb(255, 255, 255);
}

.additional-catalog__condition {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 170px;
  color: rgb(255, 255, 255);
}

@media (min-width: $medium-width) {
  .additional-catalog {
    width: 768px;
    margin-top: -75px;
    margin-bottom: 75px;
  }

  .additional-catalog__title {
    position: relative;
    width: 340px;
    font-size: 36px;
    line-height: 36px;
    padding-left: 38px;
    padding-right: 34px;
    margin-left: 30px;
    margin-bottom: 46px;
    background-color: rgb(255, 255, 255);
    border: none;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 22px;
      left: -30px;

      width: 768px;
      height: 3px;
      background-color: $green;
    }
  }

  .additional-catalog__list {
    margin-bottom: 69px;
  }

  .additional-catalog__item-title {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
  }

  .additional-catalog__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 633px;
    padding-top: 26px;
    padding-left: 36px;
    padding-right: 37px;
    border: 1px solid rgba(205, 205, 205, 0.5);
    margin: 0 auto;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .additional-catalog__amount,
  .additional-catalog__price {
    font-size: 16px;
    line-height: 20px;
    width: 93px;
    text-align: right;
  }

  .additional-catalog__amount {
    width: 192px;
  }

  .additional-catalog__button {
    margin-bottom: 27px;
  }

  @media (max-width: $medium-width-only) {
    .additional-catalog__gift {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 708px;
      height: 200px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-image: url("../img/gift-photo-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
      }
    }

    .additional-catalog__gift-image {
      margin: 0;
      margin-top: -10px;
      margin-left: 91px;
    }

    .additional-catalog__condition {
      text-align: left;
      margin: 0;
      margin-top: 4px;
      margin-left: 278px;
    }
  }
}

@media (min-width: $large-width) {
  .additional-catalog {
    width: auto;
    margin-bottom: 22px;
  }

  .additional-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .additional-catalog__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-bottom: 46px;
    margin-top: 12px;

    &::after {
      top: 22px;
      left: -70px;
      width: 1440px;
    }
  }

  .additional-catalog__item {
    justify-content: flex-start;
    align-items: center;
    width: 895px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border-left: none;
    border-right: none;
    margin: 0;
    border-color: rgb(205, 205, 205);
  }

  .additional-catalog__item-title {
    width: 245px;
    margin-right: 78px;
    margin-bottom: 0;
  }

  .additional-catalog__table {
    width: 295px;
    margin-bottom: 0;
  }

  .additional-catalog__amount {
    width: 255px;
  }

  .additional-catalog__price {
    width: 48px;
  }

  .additional-catalog__amount,
  .additional-catalog__price {
    text-align: left;
  }

  .additional-catalog__button {
    margin-left: 31px;
    width: 245px;
    margin-bottom: 0;
  }

  .additional-catalog__gift {
    position: relative;
    margin: 0;
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-catalog__gift-image {
    position: absolute;
    left: 96px;
    top: 65px;
    margin: 0;
  }

  .additional-catalog__condition {
    position: absolute;
    left: 37px;
    bottom: 42px;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}
