.copyright__html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__html-academy-title {
  font-family: "Arial";
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.copyright__html-academy-logo {
  width: 41px;
  height: 41px;
  fill: rgb(102, 102, 102);
  &:hover,
  &:focus {
    fill: $green;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $medium-width) {
  .copyright__html-academy-logo {
    margin-left: 15px;
    margin-right: -7px;
  }
}
