.form {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
}

.form__main-title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: rgb(17, 17, 17);
  margin-left: 20px;
  margin-bottom: 11px;
}

.form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 39px;
}

.form__list {
  display: flex;
  flex-wrap: wrap;
}


.form__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 9px;
  border: none;

  &--cat-need {
    padding-top: 27px;
    padding-bottom: 3px;
    padding-left: 65px;
    border: 1px solid rgb(230, 230, 230);
    margin: 0;
    margin-bottom: 28px;
  }

  &--man {
    margin-bottom: 13px;
  }
}

.form__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  max-width: 200px;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 35px;
  background-color: rgb(255, 255, 255);

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 14px;
    left: 0;
    width: 300px;
    height: 3px;
    background-color: rgb(104, 183, 56);
  }
}

.form__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;

  &--cat-need {
    position: relative;
    margin-bottom: 24px;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      top: -7px;
      left: -46px;
      border: 1px solid rgb(205, 205, 205);
      border-radius: 50%;
    }
  }

  &--man {
    position: relative;
  }
}

.form__item--cat-need-input:hover + .form__label--cat-need::before,
.form__input--more:hover + .form__label--more::before {
  border-color: rgb(166, 166, 166);
}

.form__item--cat-need-input:active + .form__label--cat-need::before,
.form__input--more:active + .form__label--more::before {
  border-color: rgba(168, 168, 168, 0.3);
}

.form__item--cat-need-input:checked + .form__label--cat-need::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: -37px;
  border-radius: 50%;
  background-color: rgb(104, 183, 56);
}

.form__label--cat-need:active,
.form__label--more:active {
  color: rgba(34, 34, 34, 0.3);

  &::after {
    opacity: 0.3;
  }
}

.form__label sup,
.form__required-fields sup {
  font-size: 100%;
  top: 0;
  left: -1px;
}

.form__input {
  flex-grow: 1;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  border: 1px solid rgb(230, 230, 230);
  margin-left: 15px;
  outline: none;
  /*color: rgb(68, 68, 68);*/
}

.form__icon {
  position: absolute;
  fill: rgb(34, 34, 34);

  &--mail {
    right: 16px;
    width: 17px;
    height: 13px;
  }

  &--phone {
    right: 13px;
    width: 20px;
    height: 20px;
  }
}


.form__input:hover {
  border-color: rgb(205, 205, 205);
}

.form__input--man:active + .form__icon,
.form__input--man:focus + .form__icon {
  fill: $green;
}

.form__input:active,
.form__input:focus {
  border: 1px solid rgb(68, 68, 68);
  box-shadow: 0 0 0 1px rgb(68, 68, 68);
}

.form__comment {
  box-sizing: border-box;
  text-transform: uppercase;
  width: 280px;
  height: 150px;
  padding-top: 9px;
  padding-left: 15px;
  margin-bottom: 19px;
  border: 1px solid rgb(230, 230, 230);
  color: rgb(68, 68, 68);
}

.form__title--more {
  margin-bottom: 40px;
}

.form__label--more {
  position: relative;
  padding-left: 46px;
  margin-bottom: 24px;
  color: rgb(17, 17, 17);

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(207, 207, 207);
  }
}

.form__input--more:checked + .form__label--more::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  top: 1px;
  left: 5px;
  border-left: 2px solid rgb(104, 183, 56);
  border-bottom: 2px solid rgb(104, 183, 56);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.form__button {
  display: inline-block;
  vertical-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  margin: 9px 20px;
  margin-bottom: 21px;
  color: rgb(255, 255, 255);
  background-color: $green;
}

.form__required-fields {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: rgb(68, 68, 68);
}

@media (min-width: $medium-width) {
  .form {
    width: $medium-width;
    margin-top: 52px;
  }

  .form__main-title {
    font-size: 60px;
    line-height: 60px;
    width: auto;
    margin-left: 30px;
    margin-bottom: 36px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    margin-left: 70px;
    margin-bottom: 66px;
  }

  .form__item {
    width: 100%;
    margin: 0 70px;
    margin-bottom: 52px;

    &--cat-need {
      padding-bottom: 1px;
      margin-bottom: 75px;
    }

    &--man {
      margin-bottom: 45px;
    }

    &--more {
      margin-bottom: 4px;
    }
  }

  .form__label {
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    &--cat-need {
      padding-left: 20px;
      margin-top: 7px;
      margin-bottom: 33px;

      &::before {
        top: -10px;
        left: -39px;
        width: 40px;
        height: 40px;
      }
    }

    &--more {
      position: relative;
      box-sizing: border-box;
      width: 285px;
      padding-left: 56px;
      margin-bottom: 52px;
      color: rgb(17, 17, 17);

      &::before {
        top: -9px;
        left: -2px;
        width: 40px;
        height: 40px;
      }
    }
  }

  .form__input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    margin-left: 18px;
  }

  .form__item--cat-need-input:checked + .form__label--cat-need::after {
    width: 18px;
    height: 18px;
    top: 1px;
    left: -28px;
    border-radius: 50%;
    background-color: rgb(104, 183, 56);
  }

  .form__icon {
    &--mail {
      right: 19px;
    }

    &--phone {
      top: 17px;
      right: 16px;
    }
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-bottom: 76px;
    max-width: none;

    &::after {
      top: 22px;
      left: -30px;
      width: 768px;
    }

    &--more {
      margin-bottom: 66px;
    }
  }

  .form__comment {
    font-size: 20px;
    line-height: 30px;
    width: 631px;
    height: 174px;
    padding-top: 10px;
    padding-left: 18px;
    margin-bottom: 13px;
  }

  .form__input--more:checked + .form__label--more::after {
    top: 1px;
    left: 8px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 71px;
  }

  .form__required-fields {
    font-size: 16px;
    line-height: 16px;
    margin-top: 26px;
    margin-left: 42px;
  }

  .form__content--more {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: $large-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
  }

  .form__main-title {
    margin-top: -8px;
    margin-left: 0;
    width: 100%;
  }

  .form__description {
    margin-left: 0;
  }

  .form__item {
    margin: 0;

    &--cat-info {
      margin-right: 80px;
    }

    &--cat-need {
      box-sizing: border-box;
      margin-bottom: 69px;
    }

    &--cat-info,
    &--cat-need {
      width: 570px;
    }
  }

  .form__title {
    &::after {
      top: 22px;
      left: -70px;
      width: 1440px;
    }
  }

  .form__label {
    &--man {
      width: 570px;
      margin-bottom: 68px;
    }

    &--more {
      width: 245px;
    }
  }

  .form__icon {
    &--mail {
      right: 22px;
    }

    &--phone {
      top: 17px;
      right: 19px;
    }
  }

  .form__comment {
    width: 100%;
    margin-top: -1px;
    margin-bottom: 68px;
  }

  .form__button {
    width: 568px;
    margin-top: 19px;
    margin-bottom: 82px;
    margin-left: 1px;
  }

  .form__required-fields {
    margin-top: 35px;
    margin-left: 62px;
  }

  .form__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
