.living-example {
  background-color: rgb(242, 242, 242);
}

.living-example__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.living-example__title {
  @include tittle-h2;
  padding-top: 17px;
  margin-bottom: 10px;
}

.living-example__history {
  @include description;
  margin-bottom: 23px;
}

.living-example__stats-list tbody {
  display: flex;
  flex-wrap: wrap;
  width: 276px;
  justify-content: space-between;
}

.living-example__stats-list tr {
  display: flex;
  flex-direction: column;
  width: 122px;
}

.living-example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 17px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
}

.living-example__field {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;

  position: relative;
  top: -9px;
  width: 65px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 0 10px;

  background-color: rgb(242, 242, 242);
}

.living-example__expenses {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  align-self: center;
}
