.main-nav {
  position: relative;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.main-nav__toggle {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

@media (max-width: $small-with-only) {
  .main-nav__toggle {
    &--open {
      top: -42px;
      right: 23px;
      width: 18px;
      height: 18px;
      background-image: url("../../img/icon-close.svg");
    }
    &--close {
      /* Стили для гамбургера */
    }
  }
}

@media (min-width: $medium-width) {
  .main-nav {
    padding-top: 18px;
  }
}
