.main-nav {
  position: relative;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.main-nav__toggle {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  &--open {
    top: -42px;
    right: 23px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/icon-close.svg");
  }
  &--close {
    /* Стили для гамбургера */
  }
}
