.main-catalog {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 28px;
}

.main-catalog__tittle {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 28px;
}

.main-catalog__list {
  @include clear-list;
}

.main-catalog__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgb(237, 237, 237);
  &:not(:last-child) {
    border-bottom: none;
  }
}

.main-catalog__item-info {
  width: 140px;
}

.main-catalog__item-tittle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 80px;
  margin-top: 21px;
  margin-bottom: 10px;
}

.main-catalog__field,
.main-catalog__value {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-left: -2px;
  margin-bottom: -2px;
  width: 70px;
}

.main-catalog__value {
  text-align: right;
}

.main-catalog__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  background-color: $green;
}

.main-catalog__item--more {
  position: relative;
  margin: 0 auto;
  padding-top: 78px;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: rgb(211, 211, 211);
  }

  &::after {
    content: "";
    position: absolute;
    top: 26px;
    margin: 0 auto;
    width: 2px;
    height: 30px;
    background-color: rgb(211, 211, 211);
  }
}

.main-catalog__item-show {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: -7px;
}

.main-catalog__item-description {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 26px;
}

.main-catalog__button--more {
  color: rgb(68, 68, 68);
  background-color: rgb(242, 242, 242);
}

@media (min-width: $medium-width) {
  .main-catalog {
    display: flex;
    flex-direction: column;
    width: 708px;
    margin-top: 53px;
  }

  .main-catalog__tittle {
    font-size: 60px;
    line-height: 60px;
    margin-left: 0;
  }
}
