.page-header {
  width: 320px;
  margin: 0 auto;
  padding-top: 12px;
  border-bottom: 1px solid $separator;
}

.page-header__logo {
  display: block;
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__logo--image {
  width: 191px;
  height: 38px;
}

@media (min-width: $medium-width) {
  .page-header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 708px;
    margin-bottom: 26px;
    padding-top: 24px;
    border: none;
  }

  .page-header__logo {
    padding: 0;
    margin: 0;
    margin-right: 95px;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $large-width) {
  .body-index::after {
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    width: 50vw;
    height: 696px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(100, 168, 59);
    background-image: url("../../img/index-background-desktop@1x.jpg");
  }

  .page-header {
    width: 1300px;
    padding-top: 54px;
    margin-bottom: 82px;
  }

  .page-header__logo-image {
    display: block;
    margin-left: 40px;
    width: 202px;
    height: 59px;
    margin-right: 405px;
  }
}
