.page-header {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid $separator;
}

.page-header__logo {
  display: block;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__logo--image {
  width: 191px;
  height: 38px;
}

/*@media (min-width: $medium-width) {
  .page-header__logo {
    height: 58px;
  }

  .page-header__logo-image {
    display: block;
    margin: 0 auto;
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $large-width) {
  .page-footer__logo {
    height: 59px;
  }

  .page-header__logo-image {
    display: block;
    margin: 0 auto;
    width: 202px;
    height: 59px;
  }
}*/
