.site-list {
  @include clear-list;
}

.site-list__item {
  padding-top: 23px;
  padding-bottom: 19px;
  text-align: center;

  border-top: 1px solid $separator;
}

.site-list__item a {
  text-align: center;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;

  color: rgb(17, 17, 17);

  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
