.social {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 280px;
  height: 24px;
  padding-top: 20px;
  padding-bottom: 18px;
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
}

.social__link {
  display: flex;
  margin: 0 20px;
}

.social__icon {
  fill: rgb(102, 102, 102);
  &:hover,
  &:focus {
    fill: $green;
  }
  &:active {
    opacity: 0.3;
  }
}
